.carousel_navbar {
    background: white;
    position: relative;
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
}
@media(min-width: 768px) {
    .carousel_navbar{
    max-width:322px;
    margin: auto;
    }
}

.button.carousel_navbar_buttons {
    position: relative;
    display: inline-block;
    color: white;
    /* background: transparent; */
    border: 0;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin: auto;
    transition-duration: 0.4s;
    padding: 16px;
    font-size: 16;
}

.carousel_navbar_buttons.green {
    color: rgb(0, 94, 0) !important;
}

.carousel_navbar_buttons.interacting:hover{
    color: black !important;
}

.fa-solid.icon_size {
    font-size: 32px;
}

.carousel_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.button.swiper_bullet {
    margin: auto;
    align-items: center;
    display:inline-block;
    color: grey;
    background-color: transparent;
    padding: 3%;
    border: 0;    
    opacity: 1;
    transition-duration: 0.4s;
}

.button.swiper_bullet.interacting:hover{
    color: green;
    flex-grow: 30;
    text-align: center;
}

.button.swiper_bullet.interacting.active {
    color: black;
    text-align: center;
}

.fa-solid.bullet_size {
    border-radius: 30% !important;
}

.stepcarousel {
    position: relative;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.stepcarousel.panels {    
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/*This animation class does not work atm, idk why tbh but it worked on another document but not here/