* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

body {
    display: flex!important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: auto;
}

main {
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

main h1 {
    margin: 0px;
    padding-left: 2%;
}

.container_box {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-shrink: inherit;
}

.container_box div {
    padding-left: 7px;
    padding-right: 30px;
    width: 200px;
    height: fit-content;
    margin: 4%;
    margin-top: 1%;
}

@media only screen and (max-width: 940px) {
    .container_box {
        width: 800px;
        flex-wrap: wrap;
    }

    .container_box div {
        padding-left: 7px;
    }
}

@media only screen and (max-width: 600px) {
    .container_box {
        flex-direction: column;
        margin: 2%;
        margin-top: 1%;
    }

    main {
        align-items: start;
    }

    main h1 {
        padding-left: 0px;
        margin-left: 0px;
    } 

    body {
        margin: 0px;
        padding-left: 0px;
        align-items: start;
    }
}
